body {
    font-family: 'Carter One';
    background-image: url("http://www.mulierchile.com/chemistry-backgrounds/chemistry-backgrounds-004.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h2 {
    color: black;
}

a:hover {
    color: black;
}

.classSelect {
    border:2px solid black;
    height: 330px;
}

.classSelect:hover {
    background-color: #e57373;
    opacity: 0.9;
}

.class {
    margin-top: 160px;
}


.top{
    opacity: 0.9;
    padding:150px;
    background-color: white;
}

.ap{
    margin-top: 60px;
}