body {
    font-family: 'Carter One';
    background-image: url("http://www.mulierchile.com/chemistry-backgrounds/chemistry-backgrounds-004.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.hoverable {
    margin-top: 10px;
    height: 550px;
}

.hoverable:hover {
    background-color: #e57373;
    border: 2px solid;
    opacity: 0.9;
}

h3 {
    color: black;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.thumbnail {
    margin-top: 75px;
    width: 300px;
    height: 300px;
}

.divider {
    background-color: black;
}

@media screen and (max-width: 600px) {

    .hoverable {
        background-color: #e57373;
       border: solid 2px black;
        opacity: 0.9;
    }
    
   

}

